{% extends 'base.html.twig' %}

{% block title %}Insert{% endblock %}

{% block body %}
    <h1>Insert template</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Insert</button>
    {{ form_end(form) }}
{% endblock %}