{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}
    <!-- User Modal (Update) -->
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true" style="display: block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Update {{ user.username }}</h5>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary">Update</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener('load', () => {
            const myModal = new bootstrap.Modal(document.getElementById('productModal'));
            myModal.show();
        });
    </script>

{% endblock %}